.pnpm-store
.playground
.playwright
.wireit
.eslintcache
.metrics
.DS_store
.vitest-attachments
node_modules
dist
.lighthouse
.visual/dist
.visual/.tmp-*
*.diff.png
coverage
vendor/
projects/core/src/icon/icons.ts
projects/core/index.html
projects/monaco/src/themes/generated
projects/themes/index.html
v8-compile-cache-0
__screenshots__
vite.*.ts.timestamp*
.11ty-vite
.gitlab/scripts/
port

# Vale
config/vale/bin
config/vale/styles/Google
config/vale/styles/write-good
.husky/_/
DEPENDENCIES.json
