node_modules
dist
_site
public
coverage
.wireit
.lighthouse
.next
.output
*.examples.ts
*.test.lighthouse.ts
CHANGELOG.md
README.md
pnpm-lock.yaml
vite.*.ts.timestamp*
tsconfig.*.tsbuildinfo
projects/code/index.html
projects/core/src/css/*.css
projects/core/src/icon/server.ts
projects/internals/metadata/static/*.json
projects/monaco/src/themes/generated/*
projects/**/src/vendor/**/*
.vscode/*.json.code-snippets
.output/**/*

# ignore starter templates as they are used for project generation and formatting is picky
projects/starters/angular/.angular/**/*
projects/starters/angular/src/app/app.html
projects/starters/bundles/src/index.html
projects/starters/eleventy/src/_layouts/index.11ty.js
projects/starters/eleventy/src/index.11ty.js
projects/starters/go/src/index.html
projects/starters/go-htmx/src/index.html
projects/starters/hugo/**/*
projects/starters/importmaps/src/index.html
projects/starters/mpa/src/**/*.html
projects/starters/nextjs/src/pages/index.tsx
projects/starters/react/src/App.tsx
projects/starters/solidjs/src/App.tsx
projects/starters/typescript/src/index.html
projects/starters/vue/src/**/*
projects/starters/nuxt/.nuxt/**/*
projects/starters/nuxt/app/**/*
